---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Autor'
    value: page.autor
  - label: 'Tipo'
    value: page.tipo
  - label: 'Data'
    value: page._data
  - label: 'Material'
    value: page.material
  - label: 'Processo'
    value: page.processo
  - label: "Instituição"
    value: page.instituicao
  - label: 'Link para o acervo de origem'
    value: page.link
    type:  link
  - label: 'Manifesto IIIF'
    value: page.manifest
    type:  link
---